nav {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 12%;
	border-bottom: solid black 2px;
	text-align: center;
	background-color: white;

}
nav ul li {
	display: inline;
	font-family: verdana;
	font-size: 20px;
	padding: 0 60px 0 60px;

}

a {
	text-decoration: none;
	color: #7c5852;
}

a:hover {
	color: red;
}

.welcome{
	height: 600px;
	margin: 100px 50px 50px 50px;
	vertical-align: top;
}
#message{
	display: inline-block;
	margin-top: 50px;
	width: 20%;
	float: left;
}

#message h3, p{
	font-family: American Typewriter Regular;
	font-style: italic;
}
#message span{
	text-align: center;
}
#about-us{
	display: inline-block;
	float: left;
	width: 60%;
	text-align: center;
	margin: 50px 50px 50px 100px;
}

#cookieImage{
	border-radius: 50%;
	border: 3px solid red;
	background-color: red;
	height: 400px;
	width: 400px;
	z-index: 10;
	position: fixed;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
	top: 50%;
	padding: 0px;

}
#cookieImage p{
	position: relative;
	top: 50%;
	left: 50%;
	font-size: 50px;
}
